@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AemFont';
    src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AemFontBold';
    src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}